/* About Us Section */
.about-us-text {
    position: absolute;
    padding: 20px;
    max-width: 30%;
    color: #333;
    left: 230px;
    top: 17%;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
}

.about-section {
    background-color: #B6FAFC;
}

.stock_photo {
    position: relative;
    width: 750px;
    height: 500px;
    left: 25%;
    padding: 30px;
}

.h1-about-us {
    margin-top: 0;
    position: relative;
    top: 20px;
  }

/* Team Section */
.profile-photo {
    position: relative;
    width: 400px;
    height: 400px;
    right: 25%;
    bottom: 53px;
    padding: 30px;
}

.team-section p {
    position: absolute;
    padding: 0px;
    max-width: 40%;
    top: 85.5%;
    right: 15%;
    color: #333;
    text-align: left;
    font-size: 18px;
    line-height: 1.7;
}

.team-section h1 {
    position: relative;
    bottom: 35px;
    left: 18px;
}

/*
.team-section p {
    position: relative;
    max-width: 40%;

}
*/

.team-section {
    padding: 50px;
    background-color: #B6FCDB;
}

.michelle-classification {
    display: flex;
    flex-direction: column; /* Set the direction to column to stack items vertically */
    position: relative;
}

.michelle-classification p {
    left: 250px;
    font-size: 10px;
    top: -80px;
    max-width: 20%;
    color: #0c0001;
}

.michelle-classification h3 {
    position: relative;
    right: 590px;
    
}

/*
.michelle-classification {
    position: relative;
    right: 800px;
    font-size: 8px;
    margin-top: 20px;
    margin: 10px 0;
}
*/