/* App.css */
.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

/* Text overlay on image */
.image-container {
  position: relative;
  width: 100%;
  height: 750px;
}

.background {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 35%;
  left: 200px; /* Adjust as needed */
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
  padding: 20px;
  max-width: 40%; /* Limit the width of the text overlay */
  color: white;
  font-family: "Arial";
  font-weight: bold;
  font-size: 24px;
}

.text-overlay h2 {
  margin-top: 0;
}

.text-overlay p {
  margin-bottom: 0;
}

/* MenuBar */
.menu-bar {  /* Outer container of the menu bar. Sets the background colour, color, and padding for entire menu bar */
  display: flex;
  align-items: center;
  background-color: white;
  color: white;
  padding: 5px 30px;
}

.logo-container {
  margin-right: 500px;
}

.menu-bar ul { /* Removes default list styles, such as bullet points, aligns the list items horizontally in a row */
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-bar li { /* targets the unordered list in the menu bar. Sets them to display side by side horizontally */
  display: inline-block;
  margin-right: 130px;
}

.menu-bar li:last-child { /* removes the right margin to prevent extra spacing after the last menu item */
  margin-right: 0;
}

.menu-bar a { /* targets the anchor (a) elements inside the menu bar. Removes default underline, sets text color , adjusts font weight and size */ 
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 24px;
}

.menu-bar a:hover {
  opacity: 0.8;
}
