/* App.css */
.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

/* MenuBar */
.menu-bar {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-bar li {
  display: inline-block;
  margin-right: 20px;
}

.menu-bar li:last-child {
  margin-right: 0;
}

.menu-bar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.menu-bar a:hover {
  text-decoration: underline;
}
